<div class='container'>
    <div class="page-titles text-center">
                    <h1>ABOUT ME</h1>
                </div>
                </br>
    <div class="row">
        <div class="col-md-4">
                
                <%= image_tag("me.jpg") %>
        </div>
    
    
    
        <div class="col-md-8">
            </br>
            </br>
                <h1>Hello, I'm Brent Fisk</h1>
                <div class="fonter">
                    <h3> I'm a Houston, TX native interested in all things tech with a passion for creating scalable web apps with great UI/UX. </br> </br>
                    
                    I'm a front-end and back-end developer with a passion for creating scalable web apps that use Ruby on Rails with great UI and UX. I have experience in building projects that use object oriented programming, trading algorithms, membership systems for communities, commenting, messaging, voting capability, SAAS with Stripe integration, nested forms, graphic design, SEO/SEM and more.
                    </h3>
                </div>
        </div>
    </div>
</div>
