<div class="container">
    
    <h1 div class="page-titles">Dev Match</div></h1>

    <h3> Dev Match is a membership site where entrepreneurs can meet developers and investors. Dev Match has two ways
    to create an account, basic and pro memberships. Basic membership allows users the ability to login, add their name,
    description, user avatar, and job title. Pro memberships are monthly paid plans and users have the added ability to
    be contacted by showing their email and phone number.
    </h3>
    <a href="http://murmuring-journey-9823.herokuapp.com">
        <div class="btn btn-primary">Visit Site</div>
    </a>
    
    </br>
    </br>
    
     <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("community.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("pro.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("profile.jpg")%>
                </a>
            </div>
    
    
</div>