<div class="container">
    
    <h1 div class="page-titles">Fantasy Blurb</div></h1>

    <h3> Fantasy Blurb is a social communuty for fantasy football fans. Users can share their draft picks, talk about teams,
    see what is trending by teams, comment, and like or dislike posts. This idea came from the concept of Twitter and to help
    people with drafting.
    </h3>
    <a href="http://vast-tor-5070.herokuapp.com/">
        <div class="btn btn-primary">Visit Site</div>
    </a>
    
    </br>
    </br>
    
     <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("fantasy-blurb.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("latest.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("comments.jpg")%>
                </a>
            </div>
    
    
</div>