<body style="
  background: -webkit-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #1D976C 10%, #93F9B9 90%); /* W3C */
      "</body>
    
<!--To make CSS changes, go inside custom.css.scss-->

    <div class="text-center move-down">
        
        <div class="fontsy">
            <h1 style="font-size:100px;">BRENT FISK</h1>
        </div>
        
        <div class="fontsy-two">
            <h3 style="font-size: 30px;">< / A FULLSTACK WEB DEVELOPER ></h3>
        </div>
        
    </div>





        
   