<div class="container">
    
    <h1 div class="page-titles">Recipes Box</div></h1>

    <h3> Recipes Box is community for foodies where people can share their recipes. Users can upload images of their food,
    give a description, add multiple ingredients and directions.
    </h3>
    <a href="http://rocky-cliffs-4063.herokuapp.com/">
        <div class="btn btn-primary">Visit Site</div>
    </a>
    
    </br>
    </br>

            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("recipes.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("recipe-show.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("recipe-new.jpg")%>
                </a>
            </div>



    
    
</div>