<div class="container">
 <div class="col-md-12">
   <h1 class="page-titles text-center">SKILLS</h1>
   <div class="fonter">
 </br>
  <h1>Languages</h1>
   <div class="btn btn-default">HTML5</div>
   <div class="btn btn-default">CSS3</div>
   <div class="btn btn-default">SCSS</div>
   <div class="btn btn-default">LESS</div>
   <div class="btn btn-default">JAVASCRIPT</div>
   <div class="btn btn-default">RUBY</div>
   
   <h1>Backend</h1>
   <div class="btn btn-default">RUBY ON RAILS</div>
   <h1>Backend Details</h1>
   <div class="btn btn-default">REST</div>
   <div class="btn btn-default">MVC</div>
   <div class="btn btn-default">APIs</div>
   <div class="btn btn-default">GEMS</div>
   <div class="btn btn-default">SQL</div>
   <div class="btn btn-default">USER AUTHENTICATION</div>
   
   <h1>Libraries</h1>
   <div class="btn btn-default">BOOTSTRAP</div>
   <div class="btn btn-default">JQUERY</div>
   
   <h1>CMS</h1>
   <div class="btn btn-default">WORDPRESS</div>
   
   <h1>Payments</h1>
   <div class="btn btn-default">STRIPE</div>
   
   <h1>Tools</h1>
   <div class="btn btn-default">GIT</div>
   <div class="btn btn-default">INVISION</div>
   <div class="btn btn-default">INKSCAPE</div>
   <div class="btn btn-default">GOOGLE ANALYTICS</div>
   <div class="btn btn-default">HEROKU</div>
   <div class="btn btn-default">C9 IDE</div>
   <div class="btn btn-default">NITROUS IDE</div>
 </div>
</div>
  


 </br>
  </br>
   </br>
    
 
 
 
 
 
