<div class="container">
 <div class="col-md-12">
  <div class="page-titles">
   <h1>SKILLS</h1>
  </div>
   <div class="fonter">
    <h3>I'm a front-end and back-end developer with experience in building projects that use object-oriented programming, membership systems, user profiles, e-commerce using Stripe, messaging with email</br>and more. Below is a full list of what I know:</h3>
   </div>
  <h2>Languages</h2>
   <div class="btn btn-default">HTML5</div>
   <div class="btn btn-default">CSS3</div>
   <div class="btn btn-default">SCSS</div>
   <div class="btn btn-default">LESS</div>
   <div class="btn btn-default">JAVASCRIPT</div>
   <div class="btn btn-default">RUBY</div>
   
   <h2>Backend</h2>
   <div class="btn btn-default">RUBY ON RAILS</div>
   <h2>Backend Details</h2>
   <div class="btn btn-default">REST</div>
   <div class="btn btn-default">MVC</div>
   <div class="btn btn-default">APIs</div>
   <div class="btn btn-default">GEMS</div>
   <div class="btn btn-default">SQL</div>
   <div class="btn btn-default">USER AUTHENTICATION</div>
   
   <h2>Libraries</h2>
   <div class="btn btn-default">BOOTSTRAP</div>
   <div class="btn btn-default">JQUERY</div>
   
   <h2>CMS</h2>
   <div class="btn btn-default">WORDPRESS</div>
   
   <h2>Payments</h2>
   <div class="btn btn-default">STRIPE</div>
   
   <h2>Tools</h2>
   <div class="btn btn-default">GIT</div>
   <div class="btn btn-default">STRIPE</div>
   <div class="btn btn-default">HEROKU</div>
   <div class="btn btn-default">C9 IDE</div>
   <div class="btn btn-default">NITROUS IDE</div>
 </div>
</div>
  


 </br>
  </br>
   </br>
    
 
 
 
 
 
