<div class="container">
    
    <h1 div class="page-titles text-center">SOCIAL</h1>
    </br>
    </br>
    </br>
    
    <div class="text-center">
        <a href="https://www.linkedin.com/in/brent-fisk-00697833">
            <%= image_tag("linkedin.jpg") %>
        </a>
    </br>
    </br>
    </br>
    <div class="text-center">
        <a href="https://www.github.com/brentallen">
            <%= image_tag("github.png") %>
        </a>
   </div>
</div>
