<div class="container">
    
    <h1 div class="page-titles">SOCIAL</h1>
    
    <div class="text-center">
        <a href="https://www.linkedin.com/in/brent-fisk-00697833">
            <%= image_tag("linkedin.jpg") %>
        </a>
   </div>
</div>
