<div class="container">
    
    <h1 div class="page-titles">Stuck Vehicle</div></h1>

    <h3> Stuck Vehicle is a web application for drivers to ask for help when their vehicle gets stuck. Users can post their location, add photos,
    update their status, comment, and let people know if they are on the way to help. This is a concept created for a Facebook group
    called Houston Area Off-Road Recovery, which helped rescue people during Hurricane Harvey. Building this app gave me the
    oppurtunity to use and test the Google embeded maps API.
    </h3>
    <a href="http://www.brentmade.com/contacts/new">
        <div class="btn btn-default">Contact Me For Link</div>
    </a>
    
    </br>
    </br>
    
     <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("vehicles.jpg")%>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("vehicleshow.jpg")%>
                </a>
            </div>
</div>