<div class="container">
    <h1 div class="page-titles">Swell SEO</div></h1>
    
    <h3>
        Swell SEO is a website I made for my freelance SEO and SEM work. Every icon and graphic was designed by me.
    </h3>
    
    </br>
    </br>
    
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("swell-seo.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("what-is.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("why-seo.jpg")%>
                </a>
            </div>
    
    
    
</div>