<div class="container">
    
    <h1 div class="page-titles">Wiki</div></h1>

    <h3> Wiki is a Wikipedia style app that shows the most recent articles created with detailed summaries. Users can create a new
    article, edit or delete articles and give an article a specific category.
    </h3>
    <a href="http://stark-spire-1869.herokuapp.com/">
        <div class="btn btn-primary">Visit Site</div>
    </a>
    
    </br>
    </br>
    
     <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("wiki-site.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("new-article.jpg")%>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag("catagories.jpg")%>
                </a>
            </div>
</div>